body {
    background: #16222A;
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
    background: linear-gradient(to right, #3A6073, #16222A);
    overflow-x: hidden;
    overflow-y: scroll;
}

.navbar-info {
    background: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    height: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
}

.navbar-football {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 6px;
    margin-left: 20px;
    color: white;
}
.dropdown {
    margin-right: 15px;
}

.hover-info {
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
}
.hover-info:hover {
    opacity: 1;
    color: white;
}

.navbar-valuta:hover {
    color: white;
}

.active-info {
    color: darkblue;
    opacity: 1;
}

.log-out-btn {
    font-size: 25px;
    margin-left: 15px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.log-out-btn:hover {
    background-color: white;
    border-color: white;
    color: black;
    transition: 0.7s;
}

.arrow {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.players {
    color: white;
}

.card-fix {
    height: 275px;
}

.posities {
    text-decoration: none;
    font-size: 50px;
    color: black;
}